extends layouts/main-layout.pug

block styles
    link(rel="stylesheet", href="/css/product.css")
    link(rel="stylesheet", href="/css/form.css")

block content
    main
      if prods.length > 0
        .grid
          each product in prods
            article.card.product-item
              header.card__header
                h1.product__title #{product.title}
              .card__image
                img(src="https://lh3.googleusercontent.com/proxy/OPDLhcLnDqMWanAiol0g1AoxjUEsgXRDj7-volWT9HpOO902fH9PfDq4TOzAQXaZXzmluKW-wQduWy32A6E5yL01IlT0T96yUpo73_PehPxOcMoMH96dolQ92Gx-vnvuHrkQ6oBVGmAsOU3J7nCMC_-U9kwayKq9pQY", alt="A Book")
              .card__content
                h2.product__price $19.99
                p.product__description A very interesting book about so may even more interesting things!
              .card__actions
                button.btn Add to Cart
      else
        h1 No Product!
